    :root {

        --clr-bg: rgb(32, 32, 32);          /* background-color variable */
    }
    
    html {
        scroll-behavior: smooth;
    }

    .clr-bg {
        background-color: var(--clr-bg )!important;
        color: #fff;
    }



    /********************

      background images
   
     ********************/

    #img-container {
        height: clamp(420px, 100vw, 100vh);
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./images/img-1.jpg') no-repeat center / cover;
    }


    .mission-img {
        height: 100%;
        background: url("./images/mission.jpeg") no-repeat center / cover;
    }

    .education-img {
        height: 100%;
        background: url("./images/education.jpg") no-repeat center / cover;
    }

    .bg-yellow-img {
        background: url("./images/yellow-bg.jpg") no-repeat center / cover;
        /* height: 425px; */

    }

    .modal-img {
        background: url("./images/popupjpg.jpg") no-repeat center / cover;
        min-height: 300px;


    }


    /********************

     typography
    
    ********************/


    p {
        font-size: clamp(1rem, 3vw, 1.1rem);

    }

    h2 {
        font-size: clamp(1.4rem, 2.5vw, 2.4rem);
    }

    h4 {
        font-size: clamp(1.1rem, 2vw, 1.4rem);
    }



    /********************
    
      footer

     ********************/



    .footer-link {
        text-decoration: none;
        color: #fff;
    }

    .footer-link:hover {
        text-decoration: #fff underline;
    }



    /********************
    
      Media queries

     ********************/


    @media screen and (max-width: 576px) {

        .education-img,
        .mission-img {
            height: 300px;
        }

        
    }

   