    :root {
        --clr-bg: #2D2620;
        --clr-main: #ECC731;
        --bs-navbar-hover-color:#ECC731;
        --color-primary: hsl(34, 100%, 44%);
        --color-secondry: #555d31;
        --color-other: #b22d3a;
    }


    html {
        scroll-behavior: smooth;
    }


    * {
        box-sizing: border-box;
        /* border: 1px solid red; */

    }
    
    .clr-bg , body{
        background-color: var(--clr-bg);
    }

    .clr-main {
        color: var(--clr-main);
    }

    header {
        transition: background-color 0.1s linear;
    }
    


    #img-container {
        height: clamp(450px, 100vw, 100vh);
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./images/img-1.jpg') no-repeat center / cover;
    }


    .mission-img {
        min-height: 300px;
        max-height: max-content;
        /* margin: 0 -1rem; */
        background: url("https://source.unsplash.com/AEaTUnvneik") no-repeat right / cover;
    }

    .education-img {
        /* min-height: 300px;
        max-height: max-content; */
        /* height: 50vw; */
        height: clamp(300px, 40vh, 40vw);
        /* margin: 0 -1rem; */
        background: url("https://source.unsplash.com/lXvMlLRhOi8") no-repeat left / cover;
    }

    p {
        font-size: clamp(0.8rem, 3vw, 1rem);
        /* font-size: 3vw; */
    }

    h2 {
        font-size: clamp(1.4rem, 2.5vw, 2.4rem);
    }

    .footer-link {
        text-decoration: none;
    }

    .footer-link:hover {
        text-decoration: #fff underline;
    }



    .responsive-img{
        /* height:max(100vw , 30vw); */
        height: ;
    }











    @media screen and (min-width: 576px) {

        .child-border .nav-item {
            border-right: 1px solid rgba(128, 128, 128, 0.489);
        }
    }


    @media screen and (max-width:768px) {

        #logo {
            height: 65px !important;
        }
    }


   

    .nav-a {
        color: var(--color-secondry) !important;

    }

    .nav-a:hover {
        color: var(--color-other) !important;
    }

    a:focus {
        border: none;
    }

    /* Hide the images by default */
    .slide {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: clamp(200px, 50vw, 450px);
        width: auto;
        margin-top: -22px;
        padding: 16px;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(246, 241, 241, 0.2);
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(246, 241, 241, 0.6);
    }

    /* Fading animation */
    .fadeSlide {
        animation: fade 0.1s linear;

    }

    @keyframes fade {
        0% {
            opacity: 0.6;
        }

        100% {
            opacity: 1;
        }
    }

    .logo {
        transition: height 60ms linear;
    }